body {
    background-color: #d5ebfd;
}

section {
    margin-top: 0px auto;

}

/* configuração da página */
.cadinteiro {
    width: 300px;
    margin: 0px auto;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #91cdff;
    border-radius: 20px;
    color: #2e2e2e;

}

.cadinteiro input,
.cadinteiro select,
.cadinteiro resultado {
    margin: 5px auto;
    width: 100%;
    padding: 5px 0;
    border-radius: 8px;

}

.cadinteiro button {
    width: 30%;
    margin: 0 30px;
    background-color: #c3e0f8;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    padding: 4px 0px;
}

.cadinteiro button:hover {
    background-color: #91cdff;
    color: #ffffff;
}

label {
    float: left;
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 50px;
}