body {
    background-color: #f4b0d3;
}

section {
    margin-top: 0px auto;

}

/* configuração da página */
.cadinteiro {
    width: 300px;
    margin: 0px auto;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #ef7bb8;
    border-radius: 20px;
    color: #2e2e2e;

}

.cadinteiro input,
.cadinteiro select,
.cadinteiro resultado {
    margin: 5px auto;
    width: 100%;
    padding: 5px 0;
    border-radius: 8px;

}

.cadinteiro button {
    width: 50%;
    margin: 0 75px;
    background-color: #f4b0d3;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 0px;
}

.cadinteiro button:hover {
    background-color: #000000;
    color: #f4b0d3;
}

label {
    float: left;
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 50px;
    color: #2e2e2e;
}